<!-- ToolBar -->
<mat-toolbar class="toolbar">
  <button class="toolbarTitle" mat-button routerLink="/"><h1>EKSAGLISTE</h1></button>
  <button class="square-btn register-btn toolbar-btn" mat-button routerLink="/signin">S'inscrire</button>
  <button class="square-btn login-btn toolbar-btn" mat-button routerLink="/login">Se connecter</button>
  <div class="example-button-container">
    <button mat-fab  color="primary" aria-label="Example icon button with a heart icon">
      <mat-icon >person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Page -->
<mat-drawer-container class="sidenav-container" autosize>

  <!-- SideNavBar -->
  <mat-drawer #drawer class="sidenav" mode="side">

  </mat-drawer>

  <!--Content Page-->
  <mat-drawer-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>





