<div class="h-100">
  <div class="login mx-auto  ">
    <form >
      <img class="img-fluid" src="/assets/bdgueux.png">
      <div class="row text-center mt-3">
        <h1>Trouver votre mot de passe</h1>
      </div>
      <div class="row">
        <mat-form-field  appearance="outline" floatLabel="always">
          <mat-label>Email</mat-label>
          <input matInput placeholder="jean.louis" formControlName="url" required>
          <span matSuffix >@etu.umontpellier.fr</span>
          <mat-error>Entrez une Url</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Rénitialisé le mot de passe</button>
      </div>
    </form>
  </div>
</div>

