.body {
  /*
  background-image: url("https://www.polytech.umontpellier.fr/images/2021/01/15/visite-virtuelle-web.jpg");
   */
  justify-content: center;
  text-align: center;
  align-items: center;
}
