<div class="h-100 body">
  <div class="login mx-auto mt-3">
      <div class="d-flex justify-content-center">
        <img class="image " src="assets/eksagliste.png">
      </div>
      <div class="row text-center mt-3">
        <h1>Un mail de confirmation vous a été envoyé à</h1>
      </div>
      <div class="row text-center mt-3">
        <h1>{{getUrl()}}@etu.umontpellier.fr</h1>
        <h4>Si vous rencontrez un problème, veuillez contacter <a href="mailto:support@eksagliste.me">support@eksagliste.me</a></h4>
      </div>
  </div>
</div>

