<div class="vote">
  <h1 class="vote-title">Pour qui voteriez-vous aujourd'hui?</h1>
  <div class="votes-container row ">
    <button class="vote-container card1 col-2" (click)="vote(liste1)">
      <div>
        <img *ngIf="liste2.vote!=-1" [src]="liste1.image">
        <p  *ngIf="liste2.vote!=-1">{{todayVote1}}</p>
        <p  *ngIf="liste2.vote!=-1" class="downParagraphe">Total {{liste1.vote}}</p>
        <mat-spinner class="mx-auto" *ngIf="liste2.vote==-1"></mat-spinner>
        <mat-icon *ngIf="liste1.id==userVote" class="green">done</mat-icon>
      </div>
    </button>
    <button class="vote-container card2 col-2" (click)="vote(liste2)">
      <div>
        <img *ngIf="liste2.vote!=-1" [src]="liste2.image">
        <p  *ngIf="liste2.vote!=-1">{{todayVote2}}</p>
        <p  *ngIf="liste2.vote!=-1" class="downParagraphe">Total {{liste2.vote}}</p>
        <mat-spinner class="mx-auto" *ngIf="liste2.vote==-1"></mat-spinner>
        <mat-icon *ngIf="liste2.id==userVote" class="green">done</mat-icon>
      </div>
    </button>
  </div>
</div>


