<div class="advice-container">
  <div class="advice-title">
    <h1>Envie de laisser une critque contructive au BDE?</h1>
    <h2>On transmet le message</h2>
  </div>
  <div>
    <div>
      <mat-form-field class="advice-form" appearance="outline">
        <mat-label>Laisse un commentaire</mat-label>
        <textarea #input matInput></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/400</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <button class="advice-btn" mat-button ><mat-icon >send</mat-icon>
      </button>
    </div>
  </div>
</div>
