<div class="vote">
  <h1 class="vote-title">Pour qui voteriez-vous aujourd'hui?</h1>
  <div class="votes-container row align-content-sm-start">
    <button class="vote-container card1 col-2" (click)="vote(liste1)">
      <div>
        <img [src]="liste1.image">
        <p class="mt-1">{{liste1.vote}}</p>
        <mat-icon *ngIf="liste1.id==userVote" class="green">done</mat-icon>
      </div>
    </button>
    <button class="vote-container card2 col-2" (click)="vote(liste2)">
      <div>
        <img [src]="liste2.image">
        <p>{{liste2.vote}}</p>
        <mat-icon *ngIf="liste2.id==userVote" class="green">done</mat-icon>
      </div>
    </button>
  </div>
</div>


