<div class="home body">

  <div class="item row">
    <app-vote-box></app-vote-box>
  </div>


  <div class="item">
    <button (click)="showQuestions()" class="questions-btn">Afficher les questions</button>
    <div *ngIf="display" class="row">
      <div *ngFor="let question of questions" class="col-sm-4 question-card">
        <app-question-box [question]="question"></app-question-box>
      </div>
    </div>
  </div>


  <div class="item">
    <app-advice-box></app-advice-box>
  </div>

</div>
